*{
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

header{
    border: 1px solid #DFDFE1;
}

main{
    border: 1px solid #DFDFE1;
}

.header-1-left{
    width: 49.8%;
    display: inline-block;
    padding: 1% 5% 1% 0%;
}

.header-1-right{
    width: 49.8%;
    display: inline-block;
    padding: 1% 0% 1% 5%;
    text-align: right;
}

.header-2{
    display: inline-block;
    vertical-align: middle;
    padding: 1%;
    margin-right: 1%;
}

.button1{
    background-color: white;
    border: 0;
}

.button2{
    background-color: #0061FE;
    padding: 7px 13px;
    border: 0;
    color: white;
}

.main-top{
    padding: 5% 15% 0% 15%;
    background-color: #B4D0E6;
}

h1{
    font-size: 70px;
}

.main-top div{
    display: flex;
    height: 360px;
    margin-top: 3%;
}

.main-top2{
    height: 360px;
    width: 100px;
    flex-grow: 1;
}

.main-top2 .button2{
    margin-top: 5%;
}

.main-top2 .annullare{
    margin-top: 7%;
}

.main-top3{
    height: 360px;
    width: 100px;
    flex-grow: 2;
}


.main-button{

    padding: 10% 15% 0 15%;
}

h2{
    font-size: 40px;
    margin-bottom: 5%;
}

.fattura{
    display: inline-block;
}

.circol{
    height: 20px;
    width: 20px;
    border: 3px solid #DFDFE1;
    border-radius: 50%;
    background-color: white;
}


.circol2{
    height: 20px;
    width: 20px;
    border: 3px solid #DFDFE1;
    border-radius: 50%;
    background-color: white;
    margin-left: 3%;
}

.containers{
    display: flex;
    justify-content: space-between;
    margin-top: 5%;
}

.container{
    width: 30%;
    border: 1px solid #DFDFE1;
}

.container-top{
    height: 50px;
    border: 1px solid #DFDFE1;
    text-align: center;
    padding: 5%;
}

.container-bottom{
    padding: 10% 7% 10% 7%;
}

h3{
    font-size: 24px;
}

.container-bottom p{
    margin-top: 5%;
}

.mese{
    margin-bottom: 10%;
    font-size: small;
    color: #8fa6b8;
}

.container-bottom-p{
    display: inline-block;
}

.container-bottom a{
    display: inline-block;
}

.container-bottom hr{
    width: 20%;
    margin-left: 6%;
    margin-top: 12%;
    margin-bottom: 10%;
}

.container-bottom div{
    margin-top: 15%;
}

ul{
    list-style-type:none;
    padding: 0%;
}

.ul-title{
    padding-left: 3%;
}

li{
    margin-top: 10%;
}

.container3{
    margin: 5% 0% 25% 0;
    border: 1px solid #DFDFE1;
}

.container-top3{
    border: 1px solid #DFDFE1;
    padding: 1%;
    text-align: center;
}

.container-bottom3{
    display: flex;
    
}

.container-bottom3-left{
    flex-grow: 5;
    border: 1px solid #DFDFE1;
    padding: 3% 5% 3% 2%;
}

.container-bottom3-right{
    flex-grow: 1;
    border: 1px solid #DFDFE1;
    padding: 5% 2% 5% 2%;
    text-align: center
}

.prize{
    margin: 2% 0% 10% 0%;
}

.img-test{
    height: 500px;
    display: flex;
}

.img{
    flex-grow: 1;
}

.test{
    flex-grow: 8;
    padding: 5% 3% 2% 3%;
}

.test h4{
    font-size: 22px;
    margin-bottom: 5%;
}

.test p{
    margin-bottom: 7%;
}

.bottomtest{
    background-color: white;
    padding: 3%;
}

h5{
    margin: 10% 0 6% 0;
    font-size: 35px;
}

.container4{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-wrap: wrap;
}

.container5{
    width: 30%;
    margin-bottom: 3%;
    display: flex;
    flex-direction: column;
}

.img2{
    flex-grow: 4;
    
}

.test2{
    flex-grow: 5;
}

h6{
    font-size: 24px;
    margin-bottom: 8%;
}
